.container {
    width: auto;
    max-width: 680px;
    margin-top: 15px;
    padding: 0 15px;
  }

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  margin: 0;
  padding: 0;
}

img {
  width: 75px;
  height: 75px;
  pointer-events: none;
}

a {
  text-decoration: none;
}
